@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 5%;
  width: 100%;
  background-color: #24252A;
}

.home {
  display: flex;
  background-color: #24252A;
}
.logo {
  color: #FFDB5D;
  font-weight: bold;
  font-family: "Montserrat";
}

li, a, button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #edf0f1;
  text-decoration: none;
}

.logo {
    cursor:pointer;
}

.contact button {
  font-family: "Montserrat";
  font-weight: 500;
  color: black;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #FFDB5D
}


button {
  padding: 9px 25px;
  background-color:#FFDB5D;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #FFD337;
}

/* .content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
} */
/* h1 {
  color: white;
  font-size: 25px 0px 20px;
  margin: 75px;
}

h3 {
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

h4 {
  color: white;
  letter-spacing:2px;
  font-size: 20px;
} */

/* ==== Home section ===== */

.home {
  display: flex;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: "Montserrat";
}

.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
  margin-left: 40px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: 35px;
}

section {
  padding: 200px 0;
}

.about {
  font-family: "Montserrat";
  /* background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&w=1000&q=80") no-repeat center; */
  height: 100vh;
  min-height:500px;
  background: black;

}

.about .title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 36px;
  padding-bottom:48px;
  text-align: left;
  color: #FFDB5D
}

.about-content {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  width: 100%;
  margin: 10rem auto 0 a;
}
.about-content img{
  height: 420px;
  object-fit: cover;
}
.about-content .column-left {
  margin: 72px;
  color: white;
}

/* .about .text-1-about-me {
  margin-left: 70px; 
  margin-right: 942px;
  color: white
} */
/* .about .about-content {
  display: block;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .right{
  width: 100%;
}

.about .about-content .right img {
  float:right;
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}
.about .about-content .left {
  width: 55%;
} */